h1{
    color: darkblue;
    background-color: aliceblue;
    width: 300px;
}
h2{
    color: rgb(53, 6, 53);
    background-color: rgb(219, 219, 188);
    width: 300px;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    
}

ul a{
    text-decoration: none;
    font-family: monospace;
    color: rgb(59, 26, 59);
}